.main{
    min-height: 100vh;
    display: grid;
    place-content: centre;
    background-color: #333;
}
/* styles.css */

/* Default styles */
.border-gray-300 {
    border-color: #ccc;
  }
  .text-gray-600 {
    color: #666;
  }
  .text-black {
    color: #000;
  }
  /* ... (other styles) */
  
  /* Media queries for responsive design */
  
  /* Mobile */
  @media (max-width: 640px) {
    /* Adjust input width and font size for mobile */
    .border-2 {
      border-width: 1px;
    }
    .text-sm {
      font-size: 14px;
    }
    /* Adjust grid layout for mobile */
    .grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  
  /* Tablet */
  @media (min-width: 641px) and (max-width: 1024px) {
    /* Adjust grid layout for tablet */
    .grid-cols-1 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  /* Desktop */
  @media (min-width: 1025px) {
    /* Adjust grid layout for desktop */
    .grid-cols-1 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  
  .autoHeightCard {
    height: auto;
    display: flex;
  }
  /* styles.module.css */

.centeredContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the card's content takes full height */
    text-align: center;
   /* Center text within the card */
  }
  /* styles.module.css */

.centeredCard {
  
    margin: 2rem;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto; 
    border: 2px solid white; 
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ensure the card takes full height */
  }
  .centeredCard:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Add box shadow on hover */
  }
  .centeredImage{
  
   
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: 0 auto; 
    border: 2px solid white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Ensure the card takes full height */
  }
  /* styles.module.css */

.container {
    width: 100%;
    max-width: 1200px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
  }
  

  